# Windows
# Ref.https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Python
# Ref.https://github.com/github/gitignore/blob/master/Python.gitignore
__pycache__/
*.py[cod]
*$py.class

# TrueCrypt Volume
*.tc

# KeePass Database
*.kdbx

# Vagrant
.vagrant/
